@page
@model proje.Pages.Havalimanlar.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Havaliman Sil</h2>

<h3>Silmek istediginize eminmisiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Havaliman ad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Havalimanlari.Ad)
        </dd>
        <dt>
            Havaliman Konum
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Havalimanlari.Konum.Konum1)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Havalimanlari.Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-page="./Index">Geri Dön</a>
    </form>
</div>
