@page
@model proje.Areas.Admin.Pages.Konumlar.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Konum Güncelle</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Konum.Id" />
            <div class="form-group">
                <label asp-for="Konum.Konum1" class="control-label">Konum Adı</label>
                <input asp-for="Konum.Konum1" class="form-control" />
                <span asp-validation-for="Konum.Konum1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konum.UstKonumId" class="control-label">Üst Konum</label>
                <select asp-for="Konum.UstKonumId" class="form-control" asp-items="ViewBag.UstKonumId">
                    <option selected="selected">Istediginiz bir tanesini seciniz</option>
                </select>
                <span asp-validation-for="Konum.UstKonumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kayıt" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Geri Dön</a>
</div>

